# IST 652 Final Project - A Pantheon Exploration

# Introduction

Research questions:

* Which historic characters are the most popular?
* When did they live and where are they from?
* What factors could ahve generated their popularity?
* Are there any observable trends in the categorical data provided?
* What associations exist between the variables in the data?
* What clusters and groupings are in the data? How do groups compared in popularity?

# Analysis

Key analysis methods used in report:
* Data Cleaning
* Sorting and subsets of the data.
* Line and bar plots.
* Multiple regression

## About the Data

## Data Cleaning

## Exploration

## Modeling

# Results

# Conclusion

In [29]:
import pandas as pd

In [50]:
# Loading data from .csv file
dfDirtyData = pd.read_csv("C:/Users/Meng Synn/Documents/GitHub/ist652-final_project/data/database.csv", sep=",", header=0)

In [48]:
# Display the dataframe data types
dfDirtyData.dtypes

article_id                       int64
full_name                       object
sex                             object
birth_year                      object
city                            object
state                           object
country                         object
continent                       object
latitude                       float64
longitude                      float64
occupation                      object
industry                        object
domain                          object
article_languages                int64
page_views                       int64
average_views                    int64
historical_popularity_index    float64
dtype: object

In [49]:
# Showing the first 5 rows of the data in the data frame
dfDirtyData.head(5)

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840

In [22]:
# Totaling number of rows for each column. They are all should matched unless there's missing value in the dataset
dfDirtyData.count()

article_id                     11341
full_name                      11341
sex                            11341
birth_year                     11341
city                           11341
state                           2172
country                        11308
continent                      11311
latitude                       10294
longitude                      10294
occupation                     11341
industry                       11341
domain                         11341
article_languages              11341
page_views                     11341
average_views                  11341
historical_popularity_index    11341
dtype: int64

In [ ]:
Data Cleaning

In [26]:
# Dropping fields not needed for the analsysis
#dfCleanData = dfDirtyData.drop(dfDirtyData.columns[[0, 1, 4, 5]], axis=1)
dfCleanData = dfDirtyData

In [30]:
dfCleanData["latitude"].fillna(value=0, inplace=True)
dfCleanData["longitude"].fillna(value=0, inplace=True)

In [31]:
dfCleanData = dfCleanData.sort_values(by = ['country'], ascending = True)
dfCleanData.head(50)

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
8204,1398851,Khaled Hosseini,Male,1965,Kabul,NaN,Afghanistan,Asia,34.53333,69.16667,Writer,Language,Humanities,39,3393273,87007,20.8679
7360,314537,Dost Mohammad Khan,Male,1793,Kandahar,NaN,Afghanistan,Asia,31.61667,65.71667,Politician,Government,Institutions,27,265137,9820,21.9259
6845,51456,Mohammed Daoud Khan,Male,1909,Kabul,NaN,Afghanistan,Asia,34.53333,69.16667,Politician,Government,Institutions,27,687687,25470,22.3210
6834,2176,Ahmed Shah Massoud,Male,1953,Panjshīr Province,NaN,Afghanistan,Asia,0.00000,0.00000,Politician,Government,Institutions,43,2830739,65831,22.3267
6071,14055,Humayun,Male,1508,Kabul,NaN,Afghanistan,Asia,34.53333,69.16667,Politician,Government,Institutions,40,1412622,35316,22.8153
6469,788767,Amānullāh Khān,Male,1892,Paghman,NaN,Afghanistan,Asia,34.58333,68.95000,Politician,Government,Institutions,29,411131,14177,22.5695
929,262156,Roxana,Female,-344,Other,NaN,Afghanistan,Asia,0.00000,0.00000,Companion,Companions,Public Figure,39,1566656,40171,26.1540
6565,1560,Ahmed Shah Abdali,Male,1722,Herat,NaN,Afghanistan,Asia,34.34194,62.20306,Politician,Government,Institutions,37,689302,18630,22.4959
44,44406,Zoroaster,Male,-600,Airyanem Vaejah,NaN,Afghanistan,Asia,0.00000,0.00000,Writer,Language,Humanities,86,7010219,81514,29.7245
4083,651860,Mahmud of Ghazni,Male,971,Ghazni,NaN,Afghanistan,Asia,33.55000,68.41667,Politician,Government,Institutions,37,1412061,38164,23.8996
7232,2695,Abdur Rahman Khan,Male,1844,Kabul,NaN,Afghanistan,Asia,34.53333,69.16667,Politician,Government,Institutions,26,372475,14326,22.0293
8614,86175,Mohammed Omar,Male,1959,Kandahar,NaN,Afghanistan,Asia,0.00000,0.00000,Politician,Government,Institutions,38,2973333,78246,20.2526
6991,14280,Hafizullah Amin,Male,1929,Paghman,NaN,Afghanistan,Asia,34.58333,68.95000,Politician,Government,Institutions,30,653410,21780,22.2150
7837,20290,Mohammad Najibullah,Male,1947,Gardez,NaN,Afghanistan,Asia,33.60000,69.21694,Physician,Medicine,Science & Technology,32,984299,30759,21.3890
5907,946750,Jamal al-Din al-Afghani,Male,1838,Asadabad,NaN,Afghanistan,Asia,34.87417,71.15278,Social Activist,Activism,Public Figure,29,686275,23665,22.9017
7628,917611,Nur Muhammad Taraki,Male,1917,Ghazni,NaN,Afghanistan,Asia,33.55000,68.41667,Politician,Government,Institutions,26,411880,15842,21.6334
7217,80949,Hamid Karzai,Male,1957,Karz,NaN,Afghanistan,Asia,31.56667,65.71667,Politician,Government,Institutions,68,3547166,52164,22.0383
7803,4611,Burhanuddin Rabbani,Male,1940,Fayzabad,NaN,Afghanistan,Asia,37.11750,70.57972,Politician,Government,Institutions,41,845539,20623,21.4398
5136,420409,Jami,Male,1414,Khorasan,NaN,Afghanistan,Asia,0.00000,0.00000,Writer,Language,Humanities,30,472282,15743,23.3241
5532,20886,Mohammed Zahir Shah,Male,1915,Kabul,NaN,Afghanistan,Asia,34.53333,69.16667,Politician,Government,Institutions,37,1018231,27520,23.1059
3077,299824,Abbas I of Persia,Male,1571,Herat,NaN,Afghanistan,Asia,34.34194,62.20306,Politician,Government,Institutions,47,783520,16671,24.4649
5199,1633378,Mir Ali Shir Nava'i,Male,1441,Herat,NaN,Afghanistan,Asia,34.34194,62.20306,Writer,Language,Humanities,26,598829,23032,23.2844
4719,256668,Ismail Kadare,Male,1936,Gjirokastër,NaN,Albania,Europe,40.06667,20.13333,Writer,Language,Humanities,46,1193709,25950,23.5662
7906,10145459,Bamir Topi,Male,1957,Tirana,NaN,Albania,Europe,41.32600,19.81600,Politician,Government,Institutions,49,538888,10998,21.2863
5001,156504,Alfred Moisiu,Male,1929,Shkodër,NaN,Albania,Europe,42.06667,19.50000,Politician,Government,Institutions,38,271772,7152,23.4064
5307,267929,Sali Berisha,Male,1944,Viçidol,NaN,Albania,Europe,42.38694,20.17583,Politician,Government,Institutions,46,1120877,24367,23.2235
11234,656544,Masiela Lusha,Female,1985,Tirana,NaN,Albania,Europe,41.32600,19.81600,Actor,Film And Theatre,Arts,77,2976937,38662,13.6305
862,10780405,Skanderbeg,Male,1405,Dibra,NaN,Albania,Europe,41.71667,20.35000,Politician,Government,Institutions,53,2260739,42655,26.2387
4695,175320,Zog of Albania,Male,1895,Albania,NaN,Albania,Europe,41.00000,20.00000,Politician,Government,Institutions,41,1037171,25297,23.5819
7008,275193,Rexhep Meidani,Male,1944,Tirana,NaN,Albania,Europe,41.32600,19.81600,Politician,Government,Institutions,29,180147,6212,22.2030
1274,25876,Anastasius I,Male,430,Durrës,NaN,Albania,Europe,41.31667,19.45000,Politician,Government,Institutions,47,329213,7005,25.7351
8323,393701,Fatos Nano,Male,1952,Tirana,NaN,Albania,Europe,41.32600,19.81600,Politician,Government,Institutions,26,298374,11476,20.6901
11200,8810772,Sotiris Ninis,Male,1990,Himarë,NaN,Albania,Europe,40.11667,19.73333,Soccer Player,Team Sports,Sports,26,1015834,39071,13.9174
1190,168093,Flavius Valerius Severus,Male,250,Illyria,NaN,Albania,Europe,0.00000,0.00000,Politician,Government,Institutions,43,406231,9447,25.8249
5419,291593,Ali Pasha,Male,1740,Tepelenë,NaN,Albania,Europe,40.26667,20.03333,Politician,Government,Institutions,27,913807,33845,23.1635
6394,267911,Ramiz Alia,Male,1925,Shkodër,NaN,Albania,Europe,42.06667,19.50000,Politician,Government,Institutions,35,518570,14816,22.6155
1667,10286,Enver Hoxha,Male,1908,Gjirokastër,NaN,Albania,Europe,40.06667,20.13333,Politician,Government,Institutions,50,3006925,60139,25.3914
10716,30597099,Bujar Nishani,Male,1966,Durrës,NaN,Albania,Europe,41.31667,19.45000,Politician,Government,Institutions,28,187089,6682,15.8264
2863,740416,Monica of Hippo,Female,331,Souk Ahras,NaN,Algeria,Africa,36.28639,7.95111,Religious Figure,Religion,Institutions,28,941848,33637,24.5748
6120,410344,Ahmed Ben Bella,Male,1918,Maghnia,NaN,Algeria,Africa,34.86167,-1.73056,Politician,Government,Institutions,46,1313289,28550,22.7838
8269,410339,Chadli Bendjedid,Male,1929,Bouteldja,NaN,Algeria,Africa,0.00000,0.00000,Politician,Government,Institutions,28,549784,19635,20.7771
4470,413671,Abd al-Qadir,Male,1808,Mascara,NaN,Algeria,Africa,35.38333,0.15000,Politician,Government,Institutions,43,1541082,35839,23.6978
536,20633,Macrinus,Male,165,Cherchell,NaN,Algeria,Africa,36.61000,2.19667,Politician,Government,Institutions,50,993642,19873,26.8622
620,983,Albert Camus,Male,1913,Dréan,NaN,Algeria,Africa,36.68333,7.75000,Writer,Language,Humanities,95,18091886,190441,26.6851
6105,630881,Ferhat Abbas,Male,1899,Algeria,NaN,Algeria,Africa,28.00000,2.00000,Politician,Government,Institutions,33,514314,15585,22.7897
537,1789,Apuleius,Male,120,Madaurus,NaN,Algeria,Africa,0.00000,0.00000,Writer,Language,Humanities,48,1349270,28110,26.8552
6511,410349,Houari Boumédienne,Male,1932,Guelma,NaN,Algeria,Africa,0.00000,0.00000,Politician,Government,Institutions,28,1242372,44370,22.5393
3012,145236,Yves Saint-Laurent,Male,1936,Oran,NaN,Algeria,Africa,35.69694,-0.63306,Fashion Designer,Design,Arts,47,3040218,64685,24.5024
1255,53255,Jacques Derrida,Male,1930,El Biar,NaN,Algeria,Africa,36.76907,3.02968,Philosopher,Philosophy,Humanities,56,5076636,90654,25.7489
8465,393714,Ahmed Ouyahia,Male,1952,Iboudraren,NaN,Algeria,Africa,0.00000,0.00000,Politician,Government,Institutions,31,410383,13238,20.4974

In [52]:
# Which historic characters are in the top ten most popular?
dfTopTenMostPopularPeople = dfCleanData.sort_values(by = ['historical_popularity_index'], ascending = False)
dfTopTenMostPopularPeople = dfTopTenMostPopularPeople.head(10)
dfTopTenMostPopularPeople.head(100)

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840
5,18079,Leonardo da Vinci,Male,1452,Vinci,NaN,Italy,Europe,43.78333,10.91667,Inventor,Invention,Science & Technology,174,88931135,511098,31.4644
6,5823,Confucius,Male,-551,Qufu,NaN,China,Asia,0.00000,0.00000,Philosopher,Philosophy,Humanities,192,22363652,116477,31.3705
7,15924,Julius Caesar,Male,-100,Rome,NaN,Italy,Europe,41.90000,12.50000,Politician,Government,Institutions,128,43088745,336631,31.1161
8,13633,Homer,Male,-800,Smyrna,NaN,Turkey,Europe,38.41861,27.13917,Writer,Language,Humanities,141,20839405,147797,31.1087
9,23275,Pythagoras,Male,-570,Samos Island,NaN,Greece,Europe,37.75000,26.83333,Philosopher,Philosophy,Humanities,114,26168219,229546,31.0691

In [58]:
totalTop10ByContinentByCountry = dfTopTenMostPopularPeople.groupby(['continent', 'country'])['article_id'].count()

totalTop10ByContinentByCountry

continent  country
Asia       China      1
           Israel     1
Europe     Greece     5
           Italy      2
           Turkey     1
Name: article_id, dtype: int64

In [120]:
# Getting the count by country, occupation, industry, and domain
totalByCountryByIndustry = pd.DataFrame(dfCleanData.groupby(['industry','occupation'])['article_id'].count())
# Renaming the default column name the dataframe created to a meaningfull name
totalByCountryByIndustry.rename(columns={'article_id': 'total_count'}, inplace=True)
totalByCountryByIndustry.sort_values(by = ['total_count'], ascending = False)

                                            total_count
industry          occupation
Government        Politician                       2530
Film And Theatre  Actor                            1193
Team Sports       Soccer Player                    1064
Language          Writer                            954
Religion          Religious Figure                  518
Music             Singer                            437
                  Musician                          381
Philosophy        Philosopher                       281
Natural Sciences  Physicist                         268
Music             Composer                          225
Military          Military Personnel                224
Natural Sciences  Chemist                           220
Fine Arts         Painter                           178
Film And Theatre  Film Director                     177
Individual Sports Tennis Player                     161
Math              Mathematician                     157
Medicine          Physician                         142
Natural Sciences  Biologist                         141
Government        Nobleman                          116
Activism          Social Activist                   114
Individual Sports Racecar Driver                    104
Social Sciences   Economist                         102
Companions        Companion                         101
Fine Arts         Artist                             88
Natural Sciences  Astronomer                         84
Business          Businessperson                     79
Team Sports       Coach                              75
Individual Sports Athlete                            74
Design            Architect                          73
Team Sports       Basketball Player                  71
...                                                 ...
Natural Sciences  Archaeologist                      13
Fine Arts         Photographer                       12
Dance             Dancer                             12
Business          Producer                           12
Media Personality Pornographic Actor                 11
Music             Conductor                          11
Social Sciences   Anthropologist                     11
Design            Fashion Designer                   10
Natural Sciences  Geologist                          10
Team Sports       Referee                            10
Individual Sports Skater                              9
Military          Pilot                               9
Government        Judge                               9
Outlaws           Pirate                              9
Social Sciences   Political Scientist                 7
Individual Sports Gymnast                             7
                  Martial Arts                        7
                  Mountaineer                         5
Team Sports       Baseball Player                     5
Language          Critic                              5
Design            Game Designer                       4
Film And Theatre  Comedian                            4
Media Personality Magician                            4
Math              Statistician                        4
Individual Sports Snooker                             3
                  Golfer                              2
Media Personality Chef                                2
Team Sports       Cricketer                           2
                  Hockey Player                       2
                  American Football Player            1

[88 rows x 1 columns]

In [102]:
# Getting the count by countinent and by country
totalByContinentByCountry = pd.DataFrame(dfCleanData.groupby(['continent', 'country'])['article_id'].count())
# Renaming the default column name the dataframe created to a meaningfull name
totalByContinentByCountry.rename(columns={'article_id': 'total_count'}, inplace=True)
totalByContinentByCountry.sort_values(by = ['total_count'], ascending = False)

                                   total_count
continent     country
North America United States               2168
Europe        United Kingdom              1145
              France                       866
              Italy                        808
              Germany                      747
Unknown       Unknown                      405
Europe        Russia                       374
              Spain                        296
Asia          Turkey                       202
Europe        Poland                       173
              Netherlands                  159
Asia          Japan                        140
Europe        Austria                      140
Asia          India                        137
Europe        Greece                       136
              Sweden                       136
South America Brazil                       135
Europe        Ukraine                      119
North America Canada                       117
Europe        Czech Republic               111
Asia          China                        108
Europe        Belgium                      107
              Denmark                      101
South America Argentina                    100
Europe        Switzerland                   99
Oceania       Australia                     99
Europe        Portugal                      87
Africa        Egypt                         85
Asia          Israel                        84
Europe        Hungary                       83
...                                        ...
Africa        Saudi Arabia                   1
Europe        Malaysia                       1
              Cape Verde                     1
              Chile                          1
              Liechtenstein                  1
Africa        Rwanda                         1
Europe        Kyrgyzstan                     1
              Cyprus                         1
              Jersey                         1
Africa        Netherlands                    1
              Mauritius                      1
              Sierra Leone                   1
Europe        Andorra                        1
Africa        Gambia                         1
Europe        United States                  1
              Gibraltar                      1
North America Bermuda                        1
              Barbados                       1
              Aruba                          1
              Antigua And Barbuda            1
Europe        Venezuela                      1
Africa        Djibouti                       1
              France                         1
Europe        The Netherlands                1
              Syria                          1
Africa        Equatorial Guinea              1
              Eritrea                        1
Europe        Suriname                       1
Asia          Timor-Leste                    1
              Bahrain                        1

[217 rows x 1 columns]

In [103]:
# Getting the count by countinent
totalByContinent = pd.DataFrame(dfCleanData.groupby(['continent'])['article_id'].count())
# Renaming the default column name the dataframe created to a meaningfull name
totalByContinent.rename(columns={'article_id': 'total_count'}, inplace=True)
totalByContinent.sort_values(by = ['total_count'], ascending = False)

               total_count
continent
Europe                6368
North America         2439
Asia                  1188
Africa                 419
Unknown                408
South America          366
Oceania                123

In [ ]:
# Getting the count by countinent
totalByContinent = pd.DataFrame(dfCleanData.groupby(['continent'])['article_id'].count())
# Renaming the default column name the dataframe created to a meaningfull name
totalByContinent.rename(columns={'article_id': 'total_count'}, inplace=True)
totalByContinent.sort_values(by = ['total_count'], ascending = False)